<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziheng.deal.db.mapper.CommoditySkuMapper">

    <resultMap id="BaseResultMap" type="com.ziheng.deal.db.entity.CommoditySku">
            <id property="skuId" column="sku_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="commodityNumber" column="commodity_number" jdbcType="INTEGER"/>
            <result property="lowCommodityNumber" column="low_commodity_number" jdbcType="INTEGER"/>
            <result property="commoditySku" column="commodity_sku" jdbcType="VARCHAR"/>
            <result property="commodityId" column="commodity_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sku_id,price,commodity_number,
        low_commodity_number,commodity_sku,sku_header,commodity_id
    </sql>
    <!--根据商品id查询商品价格和库存-->
    <select id="getCommoditySkuPrice" resultType="com.ziheng.deal.db.entity.CommoditySku">
        SELECT cs.*
        FROM commodity_sku cs
        JOIN (
        SELECT commodity_id, MIN(price) AS min_price
        FROM commodity_sku
        WHERE commodity_id IN
        <foreach item="id" collection="commodityIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY commodity_id
        ) min_prices ON cs.commodity_id = min_prices.commodity_id AND cs.price = min_prices.min_price;
    </select>
</mapper>
